{{- if .Exists }}
{{- with .Object}}
{{- if .DisplayFull }}
Package Key ID={{ .Id }}
-------------------+----------------------
API Key            | {{ .Apikey }}
Secret             | {{ .Secret }}
Rate Limit Ceiling | {{ .RateLimitCeiling }}
Rate Limit Exempt  | {{ .RateLimitExempt }}
QPS Limit Ceiling  | {{ .QpsLimitCeiling }}
QPS Limit Exempt   | {{ .QpsLimitExempt }}
Status             | {{ .Status }}
Limits             | {{ (index .Limits 0).Ceiling }} per {{ (index .Limits 0).Ceiling }} (defined in {{ (index .Limits 0).Source }})
                   | {{ (index .Limits 1).Ceiling }} per {{ (index .Limits 1).Ceiling }} (defined in {{ (index .Limits 1).Source }})
{{- else -}}
{{ .Secret -}}
{{- end }}
{{- end }}
{{- else }}
There is no package key with such identified in this area.
{{- end }}