{{if .Exists }}
{{- with .Object}}
Service Endpoint {{ .Name }} (ID={{ .Id }})
------------------------------------------------+----------------------
Allow Missing Api Key                           | {{.AllowMissingApiKey}}
Api Key Value Location Key                      | {{.ApiKeyValueLocationKey}}
Api Key Value Locations
{{- range $k, $v :=  .ApiKeyValueLocations }}
   | - {{ $v }}
{{- end }}
Api Method Detection Key                        | {{.ApiMethodDetectionKey}}
Api Method Detection Locations
{{- range $k, $v :=  .ApiMethodDetectionLocations }}
   | - {{ $v }}
{{- end }}

{{- if .Cache }}
Cache
   Cache TTL Override                    | {{ .Cache.CacheTTLOverride}}
   Content Cache Key Headers
   {{- range $k, $v := .Cache.ContentCacheKeyHeaders }}
     | - {{ $v }}
   {{- end }}
   Client Surrogate Control Enabled      | {{ .Cache.ClientSurrogateControlEnabled}}
   Include Api Key In Content Cache Key  | {{ .Cache.IncludeApiKeyInContentCacheKey}}
   Respond From Stale Cache Enabled      | {{ .Cache.RespondFromStaleCacheEnabled}}
   Response Cache Control Enabled        | {{ .Cache.ResponseCacheControlEnabled}}
   Vary Header Enabled                   | {{ .Cache.VaryHeaderEnabled}}
{{- else  }}
Cache                                           | None
{{- end}}

Connection Timeout For System Domain Request    | {{.ConnectionTimeoutForSystemDomainRequest}}
Connection Timeout For System Domain Response   | {{.ConnectionTimeoutForSystemDomainResponse}}
Cookies During Http Redirects Enabled           | {{.CookiesDuringHttpRedirectsEnabled}}

{{- if .Cors}}
Cors
  All Domains Enabled            | {{ .Cors.AllDomainsEnabled }}
  Sub Domain Matching Allowed    | {{ .Cors.SubDomainMatchingAllowed }}
  Max Age                        | {{ .Cors.MaxAge }}
  Cookies Allowed                | {{ .Cors.CookiesAllowed }}
  Allowed Domains
  {{- range $k, $v := .Cors.AllowedDomains }}
    | - {{ $v }}
  {{- end }}
  Allowed Headers
  {{- range $k, $v := .Cors.AllowedHeaders }}
    | - {{ $v }}
  {{- end }}
  Exposed Headers
  {{- range $k, $v := .Cors.ExposedHeaders }}
    | - {{ $v }}
  {{- end }}
{{- else }}
Cors                                            | None
{{- end }}

Custom Request Authentication Adapter           | {{.CustomRequestAuthenticationAdapter}}
Drop Api Key From Incoming Call                 | {{.DropApiKeyFromIncomingCall}}
Force Gzip Of Backend Call                      | {{.ForceGzipOfBackendCall}}
Gzip Passthrough Support Enabled                | {{.GzipPassthroughSupportEnabled}}
Headers To Exclude From Incoming Call
{{- range $k, $v := .HeadersToExcludeFromIncomingCall }}
  | - {{ $k }} = {{ $v }}
{{- end }}
High Security                                   | {{.HighSecurity}}
Host Passthrough Included InBackend Call Header | {{.HostPassthroughIncludedInBackendCallHeader}}
Inbound Ssl Required                            | {{.InboundSslRequired}}
Inbound Mutual Ssl Required                     | {{.InboundMutualSslRequired}}
Jsonp Callback Parameter                        | {{.JsonpCallbackParameter}}
Jsonp Callback Parameter Value                  | {{.JsonpCallbackParameterValue}}
Forwarded Headers
{{- range $k, $v := .ForwardedHeaders }}
  | - {{ $k }} = {{ $v }}
{{- end }}
Returned Headers
{{- range $k, $v := .ReturnedHeaders }}
  | - {{ $k }} = {{ $v }}
{{- end }}
Number Of Http Redirects To Follow              | {{.NumberOfHttpRedirectsToFollow}}
Outbound Request Target Path                    | {{.OutboundRequestTargetPath}}
Outbound Request Target Query Parameters        | {{.OutboundRequestTargetQueryParameters}}
Outbound Transport Protocol                     | {{.OutboundTransportProtocol}}

{{- if .Processor }}
Processor
  Adapter              | {{ .Processor.Adapter }}

  Pre Process Enabled  | {{ .Processor.PreProcessEnabled }}
  Pre Inputs
  {{- range $k, $v := .Processor.PreInputs }}
    | - {{ $k }} = {{ $v }}
  {{- end }}

  Post Process Enabled | {{ .Processor.PostProcessEnabled }}
  Post Inputs
  {{- range $k, $v := .Processor.PostInputs }}
      | - {{ $k }} = {{ $v }}
    {{- end }}
{{- else }}
Processor                                       | None
{{- end }}

Public Domains
{{- range $index, $pd := .PublicDomains }}
  | - {{ $pd.Address }}
{{- end }}
Request Authentication Type                     | {{.RequestAuthenticationType}}
Request Path Alias                              | {{.RequestPathAlias}}
Request Protocol                                | {{.RequestProtocol}}
OAuth Grant Types                               | {{ StringsJoin .OAuthGrantTypes ", " }}
Strings To Trim From ApiKey                     | {{.StringsToTrimFromApiKey}}
Supported Http Methods                          | {{ StringsJoin .SupportedHttpMethods ", " }}

{{- if .SystemDomainAuthentication }}
System Domain Authentication
  Type         | {{ .SystemDomainAuthentication.Type }}
  Username     | {{ .SystemDomainAuthentication.Username }}
  Certificate  | {{ .SystemDomainAuthentication.Certificate }}
  Password     | {{ .SystemDomainAuthentication.Password }}
{{- else }}
System Domain Authentication                    | Not set
{{- end }}

System Domains
{{- range $index, $pd := .SystemDomains }}
  | - {{ $pd.Address }}
{{- end }}
Traffic Manager Domain                          | {{.TrafficManagerDomain}}
Use System Domain Credentials                   | {{.UseSystemDomainCredentials}}
System Domain Credential Key                    | {{.SystemDomainCredentialKey}}
System Domain Credential Secret                 | {{.SystemDomainCredentialSecret}}
User Controlled Error Location Key              | {{.UserControlledErrorLocationKey}}
------------------------------------------------+----------------------
* Methods and error set are omitted from this display. Use `service endpoint method show`
  end `service endpoint errorset show` sub-commands to print the respective endpoint
  configuration
* Scheduled maintenance event display is not supported by this client version.

{{- end}}
{{else}}
Endpoint {{ .Identifier.EndpointId }} of service {{  .Identifier.ServiceId }} does not exist
{{end}}